<app-menu-admin></app-menu-admin>

<div class="container">
  <h1>Lista de Alumnos</h1>

  <!-- Campo de búsqueda combinado para nombre o cédula -->
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Buscar por cédula..." [(ngModel)]="searchTerm" (input)="searchStock()">
  </div>

  <button class="btn btn-primary mb-3" (click)="openCreateForm()">Crear Alumno</button>
  <button class="btn btn-secondary mb-3" (click)="generatePDF()">Generar PDF</button> <!-- Botón para generar PDF -->
  
  <!-- Tabla de alumnos -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cédula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Categoría</th>
        <th>Stock Inicial</th>
        <th>Ubicación</th>
        <th>Fecha</th>
        <th>-</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockList">
        <td>{{ stock.id }}</td>
        <td>{{ stock.cedula }}</td>
        <td>{{ stock.nombre }}</td>
        <td>{{ stock.apellido }}</td>
        <td>{{ getCategoriaNombre(stock.categoria_id) }}</td>
        <td>{{ stock.stock_inicial }}</td>
        <td>{{ stock.ubicacion }}</td>
        <td>{{ stock.fecha }}</td>
        <td>
          <img *ngIf="stock.foto" [src]="'data:image/png;base64,' + stock.foto" alt="Foto del producto" style="width: 100px;">
        </td>
        <td>
          <button class="btn btn-warning" (click)="openEditForm(stock)">Actualizar</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteProduct(stock.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-pie></app-pie>

<!-- Modal para crear alumno -->
<ng-template #createModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Crear Alumno</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="createProduct()" #productForm="ngForm" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="cedula" class="form-label">Cédula</label>
        <input type="text" class="form-control" id="cedula" [(ngModel)]="currentProduct.cedula" name="cedula" required>
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="currentProduct.nombre" name="nombre" required>
      </div>
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" [(ngModel)]="currentProduct.apellido" name="apellido" required>
      </div>
      <div class="mb-3">
        <label for="categoriaId" class="form-label">Categoría</label>
        <input type="number" class="form-control" id="categoriaId" [(ngModel)]="currentProduct.categoria_id" name="categoria" required>
      </div>
      <div class="mb-3">
        <label for="stock_inicial" class="form-label">Stock Inicial</label>
        <input type="number" class="form-control" id="stock_inicial" [(ngModel)]="currentProduct.stock_inicial" name="stock_inicial" required>
      </div>
      <div class="mb-3">
        <label for="ubicacion" class="form-label">Ubicación</label>
        <input type="text" class="form-control" id="ubicacion" [(ngModel)]="currentProduct.ubicacion" name="ubicacion" required>
      </div>
      <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="fecha" [(ngModel)]="currentProduct.fecha" name="fecha" required>
      </div>

      <button type="submit" class="btn btn-primary">Crear</button>
    </form>
  </div>
</ng-template>

<!-- Modal para actualizar alumno -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Actualizar Alumno</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="updateProduct()" #productForm="ngForm">
      <div class="mb-3">
        <label for="cedula" class="form-label">Cédula</label>
        <input type="text" class="form-control" id="cedula" [(ngModel)]="currentProduct.cedula" name="cedula" required>
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="currentProduct.nombre" name="nombre" required>
      </div>
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" [(ngModel)]="currentProduct.apellido" name="apellido" required>
      </div>
      <div class="mb-3">
        <label for="categoria" class="form-label">Categoría</label>
        <input type="number" class="form-control" id="categoria" [(ngModel)]="currentProduct.categoria_id" name="categoria" required>
      </div>
      <div class="mb-3">
        <label for="stock_inicial" class="form-label">Stock Inicial</label>
        <input type="number" class="form-control" id="stock_inicial" [(ngModel)]="currentProduct.stock_inicial" name="stock_inicial" required>
      </div>
      <div class="mb-3">
        <label for="ubicacion" class="form-label">Ubicación</label>
        <input type="text" class="form-control" id="ubicacion" [(ngModel)]="currentProduct.ubicacion" name="ubicacion" required>
      </div>
      <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="fecha" [(ngModel)]="currentProduct.fecha" name="fecha" required>
      </div>

      <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
  </div>
</ng-template>
